.maps__wrapper {
  display: flex;
  flex-wrap: wrap;

  margin: 1rem auto;
  justify-content: center;
}

.maps__map {
  padding: 2rem;
}

.maps__image {
  width: 400px;
  height: 225px;

  border-radius: 4px;
  border: 2px solid rgba($color: #000000, $alpha: 0.5);

  transition: 0.3s all ease;
}

.maps__image:hover {
  transform: scale(1.1);
}

// .maps__image:hover .maps__name {
//   display: flex;
// }

.maps__name {
  display: none;
}
