@import '../../scss/colors';

.mp__wrapper {
  display: flex;
  flex-direction: row;
}

.mp__avatar {
  width: 300px;
  height: 400px;

  display: flex;

  margin: 1rem;
}

// redo
.mp__info_header {
  color: $sm_white;

  font-size: 24px;

  padding: 6px;
}

// redo
.mp__info {
  color: $sm_green;

  font-size: 24px;
}
